@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
