@use 'fonts.scss' as *;

//typography
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

//colors
$primary: #14591d;
$blue: #0059f7;
$light-blue: #80acfb;
$pink: #ff7797;
$white: #fff;
$almost-white: #f0f0f0;
$gray: #787878;
$light-gray: #c4c4c4;
$black: #04151f;
$red: #ff3333;
$green: #4bb543;

//fonts
$font-family-montserrat: 'Montserrat';
$font-family-roboto: 'Roboto';
