@use 'fonts.scss' as *;

//typography
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

//colors
$primary: #2db13f;
$white: #fff;
$almost-white: #f0f0f0;
$gray: #787878;
$light-gray: #c4c4c4;
$medium-gray: #8d8d8d;
$black: #04151f;
$red: #ff3333;
$light-red: #f9e3e3;

//fonts
$font-family-montserrat: 'Montserrat';
$font-family-roboto: 'Roboto';
