@use '../../styles/variables' as *;

.select {
  position: relative;
  font-family: 'Roboto';

  &__value {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
      0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: $black;
  }

  &__icon {
    position: absolute;
    top: 14px;
    right: 16px;
  }

  &__options {
    position: absolute;
    width: 100%;
    top: 60px;
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
      0px 14px 24px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    list-style-type: none;
    z-index: 999;
    background-color: $white;
  }

  &__option {
    display: flex;
    font-family: 'Roboto';
    align-items: center;
    color: $black;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    z-index: 999;

    &--active {
      border: 1px solid red;
    }
  }
}
